@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

body {
  padding: 10px;
  font-family: 'Inter', sans-serif;
  background-color: rgb(186, 133, 203);
  height: 100vh;
}

.home-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.resos-logo {
  width: 300px;
  margin: 10px;
}
.cuisine-icons {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

form {
  position: relative;
  width: 80%;
  height: 50px;
  background: var(--color-brand);
  border-radius: var(--rad);
  margin: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}
input[type="search"] {
  outline: 0; 
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.search-submit {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: block;
  }
}
.search-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.show-all {
  display: block;
  width: 50px;
  overflow: none;
}
.btn-standard {
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  padding: 2px 24px;
  margin: 20px 0;
  &.cuisine {
    fill: rgb(50, 80, 161);
    width: 50px;
    background-color: rgb(255, 254, 254);
    margin: 10px;
    border-radius: 50%;
    object-fit: contain;
    padding: 10px;
    cursor: pointer;
  }
}
  
